# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\inzee\OneDrive\Desktop\อื่นๆ\project\หาบ้านสัตว์เลี้ยง\project\django\petnewhome\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
